/*
 * Fira Code
 * Copyright (c) 2014, Nikita Prokopov http://tonsky.me with Reserved Font Name Fira Code.
 * github: https://github.com/tonsky/FiraCode
 * license: SIL Open Font License, Version 1.1 http://scripts.sil.org/OFL
 */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: //local('Fira Code'),
    url('FiraCode/FiraCode-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: //local('Fira Code'),
    url('FiraCode/FiraCode-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: //local('Fira Code'),
    url('FiraCode/FiraCode-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: //local('Fira Code'),
    url('FiraCode/FiraCode-Bold.woff2') format('woff2');
}

/*
 * Inconsolata http://levien.com/type/myfonts/inconsolata.html
 * google fonts: https://fonts.google.com/specimen/Inconsolata
 * github: https://github.com/google/fonts/tree/master/ofl/inconsolata
 * Converted by WOFF Converter https://opentype.jp/woffconv.htm
 * license: SIL Open Font License, Version 1.1 http://scripts.sil.org/OFL
 */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: //local('Inconsolata'),
    url('Inconsolata/Inconsolata-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: //local('Inconsolata'),
    url('Inconsolata/Inconsolata-Bold.woff2') format('woff2');
}

/*
 * Open Sans Condensed
 * google font: https://fonts.google.com/specimen/Open+Sans+Condensed
 * Converted by WOFF Converter https://opentype.jp/woffconv.htm
 * license: Apache License, Version 2.0 http://www.apache.org/licenses/LICENSE-2.0
 */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: //local('Open Sans Condensed'),
    url('OpenSansCondensed/OpenSansCondensed-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: italic;
  font-weight: 300;
  src: //local('Open Sans Condensed'),
    url('OpenSansCondensed/OpenSansCondensed-LightItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: //local('Open Sans Condensed'),
    url('OpenSansCondensed/OpenSansCondensed-Bold.woff2') format('woff2');
}

/*
 * Original: Noto Sans JP (Subset OTF; Japanese) https://www.google.com/get/noto/help/cjk/
 * Converted by WOFF Converter https://opentype.jp/woffconv.htm
 * license: SIL Open Font License, Version 1.1 http://scripts.sil.org/OFL
 */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 100;
  src: //local('Noto Sans JP'),
    url('NotoSansJP/NotoSansJP-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: //local('Noto Sans JP'),
    url('NotoSansJP/NotoSansJP-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src: //local('Noto Sans JP'),
    url('NotoSansJP/NotoSansJP-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: //local('Noto Sans JP'),
    url('NotoSansJP/NotoSansJP-Black.woff2') format('woff2');
}

/*
 * Original: Noto Serif JP (Subset OTF; Japanese) https://www.google.com/get/noto/help/cjk/
 * Converted by WOFF Converter https://opentype.jp/woffconv.htm
 * license: SIL Open Font License, Version 1.1 http://scripts.sil.org/OFL
 */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 200;
  src: //local('Noto Serif JP'),
    url('NotoSerifJP/NotoSerifJP-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: //local('Noto Serif JP'),
    url('NotoSerifJP/NotoSerifJP-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: //local('Noto Serif JP'),
    url('NotoSerifJP/NotoSerifJP-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 900;
  src: //local('Noto Serif JP'),
    url('NotoSerifJP/NotoSerifJP-Black.woff2') format('woff2');
}

/*
 * Original: Noto Sans CJK JP (OTF; Japanese) https://www.google.com/get/noto/help/cjk/
 * Converted by WOFF Converter https://opentype.jp/woffconv.htm
 * license: SIL Open Font License, Version 1.1 http://scripts.sil.org/OFL
 */
/*
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 100;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 200;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 300;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-DemiLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 400;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 500;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 700;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans CJK JP';
  font-style: normal;
  font-weight: 900;
  src: //local('Noto Sans CJK JP'),
    url('NotoSansCJKjp/NotoSansCJKjp-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 400;
  src: //local('Noto Sans Mono CJK JP'),
    url('NotoSansCJKjp/NotoSansMonoCJKjp-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans Mono CJK JP';
  font-style: normal;
  font-weight: 700;
  src: //local('Noto Sans Mono CJK JP'),
    url('NotoSansCJKjp/NotoSansMonoCJKjp-Bold.woff2') format('woff2');
}
*/

/*
 * Original: Noto Serif CJK JP (OTF; Japanese) https://www.google.com/get/noto/help/cjk/
 * Converted by WOFF Converter https://opentype.jp/woffconv.htm
 * license: SIL Open Font License, Version 1.1 http://scripts.sil.org/OFL
 */
/*
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 200;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 300;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 400;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 500;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 600;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 700;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif CJK JP';
  font-style: normal;
  font-weight: 900;
  src: //local('Noto Serif CJK JP'),
    url('NotoSerifCJKjp/NotoSerifCJKjp-Black.woff2') format('woff2');
}
*/
