<template>
  <div class="home">
    <h1>☗Sylwi dev</h1>
    <ul>
      <li v-for="(routeConf, index) in routeConfList" :key="index">
        <router-link :to="{ name: routeConf.name }">{{routeConf.path}}</router-link>
      </li>
    </ul>
    <ul>
      <li>Babylon.js engine supported: {{ babylonjsSupported }}</li>
      <li>process.versions: {{ processVersions }}</li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
div.home {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: no-repeat center/auto 100% #f0e8ff url('../assets/icons/icon1280_tr8.png');
}
h1 {
  margin: 0 1em 1em 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
}
</style>

<script lang="ts">
import { RouteConfig } from 'vue-router';
import babylonjs from 'babylonjs';
import { inspect } from 'util';
import { routeConfList } from './route-conf';
import { Component, Vue } from 'vue-property-decorator';
@Component({
  data() {
    return {
      routeConfList: routeConfList as RouteConfig[],
      babylonjsSupported: babylonjs.Engine.isSupported(),
      processVersions: inspect(process.versions),
    };
  },
})
export default class extends Vue {}
</script>
