<template>
  <div id="app"><router-view/></div>
</template>

<style lang="scss">
html, body, #app {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans CJK JP', sans-serif;
  font-feature-settings: 'palt' on;
}
</style>

<script lang="ts">
import '../assets/fonts/fonts.scss';
import vue from 'vue';
import vueRouter from 'vue-router';
import { routeConfList } from './route-conf';
import { Component, Vue } from 'vue-property-decorator';

vue.config.devtools = false;
vue.config.productionTip = false;
vue.use(vueRouter);

@Component({
  router: new vueRouter({ routes: routeConfList }),
})
export default class extends Vue {}
</script>
