<template>
  <div class="hcontainer">
    <div class="hitem">
      <div class="vset">
        <input type="text" v-model.lazy="sfen[0]" class="sfen"/>
        <view3d class="view3d"
        :sfen="sfen[0]"
        :infinityPieceBox="infinityPieceBox[0]"
        :cameraControl="cameraControl[0]"
        />
      </div>
    </div>
    <div class="hitem">
      <div class="vset">
        <input type="text" v-model.lazy="sfen[1]" class="sfen"/>
        <view3d class="view3d"
        :sfen="sfen[1]"
        :infinityPieceBox="infinityPieceBox[1]"
        :cameraControl="cameraControl[1]"
        />
      </div>
    </div>
    <div class="hitem">
      <div class="vset">
        <input type="text" v-model.lazy="sfen[2]" class="sfen"/>
        <view3d class="view3d"
        :sfen="sfen[2]"
        :infinityPieceBox="infinityPieceBox[2]"
        :cameraControl="cameraControl[2]"
        />
      </div>
    </div>
    <div class="hitem">
      <div class="vset">
        <input type="text" v-model.lazy="sfen[3]" class="sfen"/>
        <view3d class="view3d"
        :sfen="sfen[3]"
        :infinityPieceBox="infinityPieceBox[3]"
        :cameraControl="cameraControl[3]"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.hcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.hitem {
  width: 50%;
  height: 50%;
}
.vset {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
input.sfen {
  width: 100%;
}
.view3d {
  width: 100%;
  flex-grow: 1;
}
</style>

<script lang="ts">
import view3d from './view3d';
import { Component, Vue } from 'vue-property-decorator';
@Component({
  components: { view3d },
  data() {
    return {
      sfen: [
        'startpos',
        // tslint:disable-next-line:max-line-length
        'lnsgkgsnl/1r5b1/ppppppppp/+p+l+n4+K+R/+s+g+b3+B+G+S/+r+k4+N+L+P/PPPPPPPPP/1B5R1/LNSGKGSNL b K2R2B4G4S4N4L18Pk2r2b4g4s4n4l18p 1',
        // tslint:disable-next-line:max-line-length
        'startpos moves 7g7f 8c8d 2g2f 4a3b 6i7h 8d8e 8h7g 3c3d 7i6h 2b7g+ 6h7g 3a2b 3i3h 7a6b 4g4f 5a4b 3h4g 2b3c 4g5f 7c7d 4i5h 6c6d 5i6h 6b6c 3g3f 1c1d 1g1f 8a7c 9g9f 8b8a 6h7i 6a6b 2i3g 4b3a 6g6f 6c5d 5f4e 5d5e 3g2e 3c4b 1f1e B*3g 2h2i 3g4f+ 2i4i 1d1e 4i4f 5e4f 4e3d 8e8f 7g8f 4f5g+ 5h5g R*5i 7i8h 5i5g+ S*6h 5g4h B*5g 4h4i P*1b 1a1b P*1c 1b1c 2e1c+ 2a1c 5g1c+ G*2b 1i1e 2b1c B*6g 4i1i 1e1c+ 3a4a P*4d N*9d 1c2c 3b2c 4d4c+ 9d8f 8g8f B*6i L*8d 8a8d 4c4b 4a4b S*4c resign',
        'startpos moves 2h5a',
      ],
      infinityPieceBox: [false, true, false, false],
      cameraControl: [true, true, true, true],
    };
  },
})
export default class extends Vue {}
</script>
