<template>
  <canvas ref="stage" class="render2d"/>
</template>

<style lang="scss" scoped>
.render2d {
  width: 100%;
  height: 100%;
}
</style>

<script lang="ts">
import fontfaceobserver from 'fontfaceobserver';
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class extends Vue {
  force: boolean = true;

  mounted() {
    // 指定のfontが読み込まれたら再描画する
    new fontfaceobserver('Noto Sans JP').load('歩').then(() => { this.force = true; });
    this.drawLoop();
  }
  drawLoop() {
    requestAnimationFrame(this.drawLoop);
    this.draw();
  }
  draw() {
    let force = this.force;
    this.force = false;
    const canvas = this.$refs.stage as HTMLCanvasElement;
    if (!canvas) { return; }
    const context = canvas.getContext('2d');
    if (!context) { return; }
    if (canvas.clientWidth !== canvas.width) { force = true; canvas.width = canvas.clientWidth; }
    if (canvas.clientHeight !== canvas.height) { force = true; canvas.height = canvas.clientHeight; }
    if (force) {
      const lineHeight = 64;
      context.clearRect(0, 0, canvas.width, canvas.height);
      context.fillStyle = '#777';
      context.fillRect(0, 0, canvas.width, canvas.height);
      context.font = `700 ${lineHeight}px 'Noto Sans JP'`;
      context.textBaseline = 'hanging';
      context.lineWidth = 4;
      context.shadowBlur = 12;
      context.shadowOffsetX = 1;
      context.shadowOffsetY = 1;
      ['３８金','７２金','３３銀右上不成'].forEach((v, i, a) => {
        context.textAlign = 'right';
        context.fillStyle = ((i & 1) === 0) ? '#000' : '#FFF';
        context.strokeStyle = ((i & 1) === 0) ? '#FFF' : '#000';
        context.shadowColor = ((i & 1) === 0) ? '#000' : '#000';
        context.fillText(String(i + 1), lineHeight, i * lineHeight, lineHeight);
        context.shadowColor = 'transparent';
        context.strokeText(String(i + 1), lineHeight, i * lineHeight, lineHeight);
        context.fillText(String(i + 1), lineHeight, i * lineHeight, lineHeight);
        context.textAlign = 'center';
        context.fillStyle = ((i & 1) === 0) ? '#000' : '#FFF';
        context.strokeStyle = ((i & 1) === 0) ? '#FFF' : '#000';
        context.shadowColor = ((i & 1) === 0) ? '#000' : '#000';
        context.fillText('☗', 1.5 * lineHeight, i * lineHeight, lineHeight);
        context.shadowColor = 'transparent';
        context.strokeText('☗', 1.5 * lineHeight, i * lineHeight, lineHeight);
        context.fillText('☗', 1.5 * lineHeight, i * lineHeight, lineHeight);
        context.textAlign = 'left';
        context.fillStyle = ((i & 1) === 0) ? '#000' : '#FFF';
        context.strokeStyle = ((i & 1) === 0) ? '#FFF' : '#000';
        context.shadowColor = ((i & 1) === 0) ? '#000' : '#000';
        context.fillText(v, 2 * lineHeight, i * lineHeight, 3 * lineHeight);
        context.shadowColor = 'transparent';
        context.strokeText(v, 2 * lineHeight, i * lineHeight, 3 * lineHeight);
        context.fillText(v, 2 * lineHeight, i * lineHeight, 3 * lineHeight);
      });
    }
  }
}
</script>
