<template>
  <div class="sand-view">
    <div class="form">
      <input type="text" class="sfen" v-model.lazy="sfenFull"/>
      <input type="text" class="sfen" v-model.lazy="sfen"/>
      <button class="code" @click="sfenRew()">&lt;&lt;</button>
      <button class="code" @click="sfenDec()">&lt;-</button>
      <button class="code" @click="sfenInc()">-&gt;</button>
      <button class="code" @click="sfenFwd()">&gt;&gt;</button>
      <label>sfenLen:<input type="number" min="0" :max="sfenFull.split(' ').length" step="1" v-model="sfenLen"></label>
      <label>sound:<select v-model="soundName">
        <option value="none">none</option>
        <option value="battle07">battle07</option>
        <option value="battle08">battle08</option>
        <option value="battle11">battle11</option>
        <option value="battle15">battle15</option>
        <option value="battle16">battle16</option>
        <option value="finger01">finger01</option>
        <option value="ignition01">ignition01</option>
        <option value="ignition02">ignition02</option>
        <option value="ignition04">ignition04</option>
        <option value="pc01">pc01</option>
        <option value="pc03">pc03</option>
        <option value="sound05">sound05</option>
        <option value="sound16">sound16</option>
        <option value="sound19">sound19</option>
        <option value="sound22">sound22</option>
        <option value="switch01">switch01</option>
        <option value="switch02">switch02</option>
      </select></label>
      <label>pieceGeo:<select v-model="pieceGeo">
        <option value="norm">norm</option>
        <option value="thin">thin</option>
      </select></label>
      <label>kingType:<select v-model="kingType">
        <option value="jjkk">玉/王</option>
        <option value="kkjj">王/玉</option>
      </select></label>
      <label>blackPieceMat:<select v-model="blackPieceMat">
        <option value="blackPiece5h">blackPiece5h</option>
        <option value="blackPiece1k">blackPiece1k</option>
        <option value="blackPiece2k">blackPiece2k</option>
        <option value="blackPiece4k">blackPiece4k</option>
        <option value="darkPiece5h">darkPiece5h</option>
        <option value="darkPiece1k">darkPiece1k</option>
        <option value="darkPiece2k">darkPiece2k</option>
        <option value="darkPiece4k">darkPiece4k</option>
        <option value="whitePiece5h">whitePiece5h</option>
        <option value="whitePiece1k">whitePiece1k</option>
        <option value="whitePiece2k">whitePiece2k</option>
        <option value="whitePiece4k">whitePiece4k</option>
        <option value="woodPiece5h">woodPiece5h</option>
        <option value="woodPiece1k">woodPiece1k</option>
        <option value="woodPiece2k">woodPiece2k</option>
        <option value="woodPiece4k">woodPiece4k</option>
      </select></label>
      <label>whitePieceMat:<select v-model="whitePieceMat">
        <option value="blackPiece5h">blackPiece5h</option>
        <option value="blackPiece1k">blackPiece1k</option>
        <option value="blackPiece2k">blackPiece2k</option>
        <option value="blackPiece4k">blackPiece4k</option>
        <option value="darkPiece5h">darkPiece5h</option>
        <option value="darkPiece1k">darkPiece1k</option>
        <option value="darkPiece2k">darkPiece2k</option>
        <option value="darkPiece4k">darkPiece4k</option>
        <option value="whitePiece5h">whitePiece5h</option>
        <option value="whitePiece1k">whitePiece1k</option>
        <option value="whitePiece2k">whitePiece2k</option>
        <option value="whitePiece4k">whitePiece4k</option>
        <option value="woodPiece5h">woodPiece5h</option>
        <option value="woodPiece1k">woodPiece1k</option>
        <option value="woodPiece2k">woodPiece2k</option>
        <option value="woodPiece4k">woodPiece4k</option>
      </select></label>
      <label>boardMat:<select v-model="boardMat">
        <option value="grayboard">grayboard</option>
        <option value="darkgrayboard">darkgrayboard</option>
        <option value="woodboard">woodboard</option>
        <option value="darkwoodboard">darkwoodboard</option>
      </select></label>
      <label>blackHandMat:<select v-model="blackHandMat">
        <option value="grayboard">grayboard</option>
        <option value="darkgrayboard">darkgrayboard</option>
        <option value="woodboard">woodboard</option>
        <option value="darkwoodboard">darkwoodboard</option>
      </select></label>
      <label>whiteHandMat:<select v-model="whiteHandMat">
        <option value="grayboard">grayboard</option>
        <option value="darkgrayboard">darkgrayboard</option>
        <option value="woodboard">woodboard</option>
        <option value="darkwoodboard">darkwoodboard</option>
      </select></label>
      <label>lineMat:<select v-model="lineMat">
        <option value="darkline">darkline</option>
        <option value="lightline">lightline</option>
      </select></label>
      <label><input type="checkbox" v-model="boolDebugLayer"/>debugLayer</label>
      <label><input type="checkbox" v-model="boolBoardInfo"/>boardInfo</label>
      <label><input type="checkbox" v-model="boolMoveGlow"/>moveGlow</label>
      <label><input type="checkbox" v-model="boolCapGlow"/>capGlow</label>
      <label><input type="checkbox" v-model="boolMouseOverGlow"/>mouseOverGlow</label>
      <label><input type="checkbox" v-model="boolSquareEm"/>squareEm</label>
      <label>animateDuration:<input type="number" min="0" max="10000" step="100"
      v-model="animateDuration"/>ms</label>
      <button @click="cameraReset()">cameraReset</button>
      <label><input type="checkbox" v-model="cameraControl"/>cameraControl</label>
      <label><input type="checkbox" v-model="cameraReverse"/>cameraReverse</label>
      <label><input type="checkbox" v-model="infinityPieceBox"/>infinityPieceBox</label>
    </div>
    <view3d class="view3d" ref="view"
      :sfen="sfen"
      :infinityPieceBox="infinityPieceBox"
      :soundName="soundName"
      :pieceGeoId="pieceGeo"
      :kingType="kingType"
      :matidBPiece="blackPieceMat"
      :matidWPiece="whitePieceMat"
      :matidBoard="boardMat"
      :matidBHandTable="blackHandMat"
      :matidWHandTable="whiteHandMat"
      :matidLine="lineMat"
      :boolDebugLayer="boolDebugLayer"
      :boolBoardInfo="boolBoardInfo"
      :boolMoveGlow="boolMoveGlow"
      :boolCapGlow="boolCapGlow"
      :boolMouseOverGlow="boolMouseOverGlow"
      :boolSquareEm="boolSquareEm"
      :animateDuration="+animateDuration"
      :cameraControl="cameraControl"
      :cameraPos="cameraPos"
    />
  </div>
</template>

<style lang="scss" scoped>
div.sand-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Fira Code', 'Noto Sans CJK JP', sans-serif;
  .form {
    user-select: none;
  }
  input, select {
    font-family: 'Fira Code', 'Noto Sans CJK JP', sans-serif;
  }
  .code {
    font-family: 'Fira Code';
  }
  input.sfen {
    width: 100%;
  }
  .view3d {
    width: 100%;
    flex-grow: 1;
    background: #303a50;
  }
}
</style>

<script lang="ts">
import view3d from './view3d';
import { Component, Vue } from 'vue-property-decorator';
@Component({
  components: { view3d },
  data() {
    // tslint:disable-next-line:max-line-length
    const sfen = 'position startpos moves 2g2f 3c3d 7g7f 8c8d 2f2e 8d8e 6i7h 4a3b 2e2d 2c2d 2h2d 8e8f 8g8f 8b8f 2d3d 2b3c 5i5h 5a6b 3d3f 8f8d 4i3h 9c9d 9g9f 7a7b 3i4h 8d2d P*2h 2d8d 8i7g 6b5b 3f2f 3a2b 2f5f 3c4b 7f7e 5b4a P*8e 8d2d 3g3f 2b3c 2i3g 3c4d 8e8d P*8b 4g4f 2a3c 4h4g 6c6d 5f7f 5c5d 7i6h 1c1d 5g5f P*3e 7g8e 3e3f 4g3f 2d3d 3h2g P*3e 3f4g 6d6e 6h5g 4a5b 7h6h 6a6b 7f7i 3b2c 4f4e 4d5c 7e7d 7c7d 5g4f 5d5e 8h5e 5c6d 5e8h 7d7e 4e4d 4c4d P*3f 3e3f 2g3f 3d2d 7i2i P*3d P*3e 5b6c 3e3d 2c3d P*4c 4b5c P*3e 3d2e 3g2e 3c2e 4c4b+ 5c4b 3e3d 6e6f 8h6f N*5d 6f5g 8a7c 4f5e 6d5e 5f5e 7c6e 5e5d 6e5g+ 6h5g 7e7f G*6e 2e1g 1i1g B*1h S*4c 7b6a 4c4b+ 1h2i+ B*8a resign';
    return {
      sfen,
      sfenFull: sfen,
      sfenLen: sfen.split(' ').length,
      infinityPieceBox: false,
      animateDuration: 500,
      soundName: 'pc03',
      pieceGeo: 'norm',
      kingType: 'jjkk',
      blackPieceMat: 'darkPiece1k',
      whitePieceMat: 'whitePiece1k',
      boardMat: 'grayboard',
      blackHandMat: 'darkgrayboard',
      whiteHandMat: 'darkgrayboard',
      lineMat: 'darkline',
      cameraControl: true,
      cameraReverse: false,
      cameraPos: { reverse: false },
      boolDebugLayer: false,
      boolBoardInfo: true,
      boolMoveGlow: true,
      boolCapGlow: true,
      boolMouseOverGlow: true,
      boolSquareEm: true,
    };
  },
  watch: {
    cameraReverse(val: any, oldVal: any): void {
      this.$data.cameraPos = { reverse: val };
    },
    sfenLen(val: any, oldVal: any): void {
      this.$data.sfen = String(this.$data.sfenFull).split(' ').slice(0, Number(val)).join(' ');
    },
  },
})
export default class extends Vue {
  sfenRew() {
    this.$data.sfenLen = 0;
  }
  sfenDec() {
    this.$data.sfenLen = Math.max(0, Number(this.$data.sfenLen) - 1);
  }
  sfenInc() {
    this.$data.sfenLen = Math.min(String(this.$data.sfenFull).split(' ').length, Number(this.$data.sfenLen) + 1);
  }
  sfenFwd() {
    this.$data.sfenLen = String(this.$data.sfenFull).split(' ').length;
  }
  cameraReset() {
    this.$data.cameraPos = { reverse: this.$data.cameraReverse };
  }
}
</script>
