<template><canvas ref="renderCanvas"></canvas></template>

<style lang="scss" scoped>
canvas {
  width: 100%;
  height: 100%;
}
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import babylonjs from 'babylonjs';

@Component
export default class shaderTest extends Vue {
  canvas: HTMLCanvasElement | null = null;
  engine: babylonjs.Engine | null = null;
  scene: babylonjs.Scene | null = null;
  shader: babylonjs.ShaderMaterial | null = null;
  plane: babylonjs.Mesh | null = null;
  mounted() {
    if (!babylonjs.Engine.isSupported()) {
      alert('WebGL is disabled or unavailable');
      return;
    }
    const canvas = this.canvas = this.$refs.renderCanvas as HTMLCanvasElement;
    const engine = this.engine = new babylonjs.Engine(canvas, false);
    const scene = this.scene = new babylonjs.Scene(engine);
    new babylonjs.ArcRotateCamera('Camera', 0, 0, 1, babylonjs.Vector3.Zero(), scene);

    const plane = this.plane = babylonjs.Mesh.CreatePlane('Plane', 2, scene);

    babylonjs.Effect.ShadersStore['mainVertexShader'] =
      require('raw-loader!../assets/shader/shader-test.vertex.glsl');
    babylonjs.Effect.ShadersStore['mainFragmentShader'] =
      require('raw-loader!../assets/shader/shader-test.fragment.glsl');

    const shaderMaterial = this.shader = new babylonjs.ShaderMaterial(
      'mainShader', scene,
      {
        vertex: 'main',
        fragment: 'main',
      },
      {
        attributes: ['position', 'uv'],
        uniforms: ['iResolution', 'iTime'],
      },
    );
    // color texture map
    shaderMaterial.setTexture(
      'iChannel0',
      new babylonjs.Texture(
        // url
        require('../assets/3dmodel/test/1f7dca9c22f324751f2a5a59c9b181dfe3b5564a04b724c657732d0bf09c99db.jpg'),
        // scene
        scene,
        // noMipmap
        false,
        // invertY
        true,
      ),
    );
    // height map
    shaderMaterial.setTexture(
      'iChannel1',
      new babylonjs.Texture(
        // url
        require('../assets/3dmodel/test/08b42b43ae9d3c0605da11d0eac86618ea888e62cdd9518ee8b9097488b31560.png'),
        // scene
        scene,
        // noMipmap
        false,
        // invertY
        true,
        // samplingMode
        babylonjs.Texture.BILINEAR_SAMPLINGMODE,
      ),
    );

    plane.material = shaderMaterial;

    window.addEventListener('resize', () => engine.resize());

    const iTimeBase = new Date().valueOf();
    engine.runRenderLoop(() => {
      if (this.engine) {
        shaderMaterial.setFloat('iTime', (new Date().valueOf() - iTimeBase) * 0.001);
        shaderMaterial.setVector2('iResolution', new babylonjs.Vector2(canvas.clientWidth, canvas.clientHeight));
        scene.render();
      }
    });
  }
  beforeDestroy() {
    if (this.engine) {
      this.engine.dispose();
      this.engine = this.scene = this.shader = this.plane = null;
    }
  }
}
</script>
