<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
declare const webkitSpeechRecognition: any;
@Component({
  data() {
    return {
      sampleList: [
        'ごー さん ぎん 左 引く 成らず',
        'なな さん ぎん 右 上がる 成る',
        'はち さん きん 左 寄る',
        '1 2 3 4 5 6 7 8 9 10',
        '時間切れです',
        'せんにちてです',
        'じしょーぎです',
        '10秒',
        '20秒',
        '30秒',
        '40秒',
        '50秒',
        '残り5分です',
        '残り4分です',
        '残り3分です',
        '残り2分です',
        '残り1分です',
        'まで 123手 にて 先手 Sylwi の勝ちです',
        'まで 124手 にて 後手 Sylwi の勝ちです',
        '先手',
        '後手',
        'はぶよしはる 竜王',
        'さとうあまひこ 名人',
        'さとうあまひこ 叡王',
        'すがいたつや 王位',
        'なかむらたいち 王座',
        'わたなべあきら 棋王',
        'くぼとしあき 王将',
        'はぶよしはる 棋聖',
      ],
      sampleText: '',
      freeText: '',
      langList: [
        'ja-JP',
        'en-US',
        'en-GB',
        'es-ES',
        'fr-FR',
        'it-IT',
        'de-DE',
        'ko-KR',
        'zh-CN',
        'zh-TW',
      ],
      lang: 'ja-JP',
      volume: 1,
      rate: 1,
      pitch: 1,
      voice: 0,
      voiceList: null,
      recText: '',
      recognizing: false,
      recognition: null,
      recBtnText: 'Speak',
    };
  },
})
export default class extends Vue {
  sampleSpeech() {
    if (!('SpeechSynthesisUtterance' in window)) {
      alert('Speech synthesis(音声合成) APIには未対応です.');
      return;
    }
    (window as any).speechSynthesis.speak(Object.assign(
      new SpeechSynthesisUtterance(),
      {
        text: this.$data.sampleText,
        lang: this.$data.lang,
        volume: Number(this.$data.volume),
        rate: Number(this.$data.rate),
        pitch: Number(this.$data.pitch),
      },
    ));
  }
  freeSpeech() {
    if (!('SpeechSynthesisUtterance' in window)) {
      alert('Speech synthesis(音声合成) APIには未対応です.');
      return;
    }
    (window as any).speechSynthesis.speak(Object.assign(
      new SpeechSynthesisUtterance(),
      {
        text: this.$data.freeText,
        lang: this.$data.lang,
        volume: Number(this.$data.volume),
        rate: Number(this.$data.rate),
        pitch: Number(this.$data.pitch),
      },
    ));
  }
  /*
  updateVoiceList() {
    const voiceList = this.$data.voiceList = window.speechSynthesis.getVoices();
    console.log(voiceList);
  }
  */
  speechRec() {
    if (!this.$data.recognition) {
      this.$data.recognition = Object.assign(new webkitSpeechRecognition(), {
        onresult: (event: any) => {
          for (let i = 0; i < event.results.length; i += 1) {
            if (event.results.final) {
              this.$data.recText += event.results[i][0].transcript;
            }
          }
        },
        onend: () => {
          this.$data.recognizing = false;
          this.$data.recBtnText = 'Speak';
        },
      });
      console.log(this.$data.recognition);
    }
    if (this.$data.recognizing) {
      this.$data.recognition.stop();
      this.$data.recognizing = false;
      this.$data.recBtnText = 'Speak';
    } else {
      this.$data.recText = '';
      this.$data.recognition.start();
      this.$data.recognizing = true;
      this.$data.recBtnText = 'Stop';
    }
  }
}
</script>

<style lang="scss" scoped>
.text {
  width: 100%;
}
</style>

<template>
  <div>
    <div>
      <!--
      <label>voice:<select v-model="voice">
        <option disabled value="">Please select one</option>
        <option v-for="(value, index) in voiceList" :key="index" :value="index">{{index}}</option>
      </select></label>
      <button @click="updateVoiceList()">updateVoiceList</button>
      <label>lang:<select v-model="lang">
        <option v-for="(value, index) in langList" :key="index" :value="value">{{value}}</option>
      </select></label>
      -->
      <label>volume:<input type="number" min="0" max="1" step="0.1" v-model="volume"/></label>
      <label>rate:<input type="number" min="0" max="10" step="0.1" v-model="rate"/></label>
      <label>pitch:<input type="number" min="0" max="2" step="0.1" v-model="pitch"/></label>
    </div>
    <hr />
    <div>
      <select v-model="sampleText" @change="sampleSpeech()">
        <option disabled value="">Please select one</option>
        <option v-for="(value, index) in sampleList" :key="index" :value="value">{{value}}</option>
      </select>
    </div>
    <p>
      <button @click="sampleSpeech()">SampleText Speech</button>
    </p>
    <hr />
    <div>
      <input placeholder="音声合成のためのテキストを入力して下さい" type="text" v-model="freeText" class="text"/>
    </div>
    <p>
      <button @click="freeSpeech()">FreeText Speech</button>
    </p>
    <!--
    <hr />
    <div>
      <textarea v-model="recText" cols="80" rows="10" readonly/>
    </div>
    <p>
      <button @click="speechRec()">{{recBtnText}}</button>
    </p>
    -->
  </div>
</template>
