<template>
  <iframe sandbox="allow-scripts" src="http://webglreport.com/?v=2"></iframe>
</template>

<style lang="scss" scoped>
  iframe { width: 100%; height: 100%; }
</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
@Component
export default class extends Vue {}
</script>
